body{
    text-align: center;
}
#container{
    border: 1px solid gray;
    width : 600px;
    height: 600px;
    margin: 0 auto;
    background-color: black;
}
.cell{
    box-sizing: border-box;
    margin: 1.0px;
    padding: 0;
}
.row{
    display:flex ;
    justify-content: center;
    align-items: center;
}
